@model IEnumerable<Discar.Models.Disc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DiscName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plastic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Glide)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plastic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiscId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
